# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
dbt_internal_packages/
raw_files/
__pycache__/
*.pyc
*.pyo
.env
.venv/
.python-version

# Ignora toda a pasta secrets
secrets/bigquery_service_account.json
secrets/

# MAS permite especificamente o arquivo de exemplo
!kaggle/secrets/
!kaggle/secrets/bigquery_service_account-example.json

